@import '../../../../scss/theme/variables';

html.mobile .main-graph {
  .main-graph__graph-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: get-rem(40px);
    .main-graph__graph-controls {
      order: 2;
      width: 100%;
      position: relative;
      left: 0;
      margin-top: get-rem(50px);
      margin-bottom: 0;
    }
  }
  .main-graph__separator {
    margin-top: get-rem(30px);
  }
  .main-graph__details {
    .main-graph__details-wrapper {
      padding: get-rem(25px) 0;
    }
  }
  .main-graph__benchmarking {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: get-rem(30px);
    .bluetab-subtitle--centered {
      flex: 1 1 100%;
      margin: 0;
      margin-bottom: get-rem(12px);
    }
    .bluetab-button {
      margin: 0 get-rem(2px);
      flex: 1 1 auto;
      padding: 0;
    }
  }
}
