@import '../../../scss/theme/variables';

html.mobile .mobile-nav,
html.tablet-v .mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: get-rem($mobile-nav-height);
  background-color: $bluetab-red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 90;
  .mobile-nav__menu {
    width: get-rem(51px);
    height: 100%;
    background-size: get-rem(25px);
    cursor: pointer;
  }
  .mobile-nav__logo {
    width: get-rem(126px);
  }
  .mobile-nav__summary {
    width: get-rem(56px);
    height: 100%;
    background-size: get-rem(20px);
    cursor: pointer;
  }
}

html.tablet-h .mobile-nav,
html.desktop .mobile-nav {
  display: none;
}