@import '../../../scss/theme/variables';

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: get-rem($mobile-nav-height);
  background-color: $bluetab-red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 get-rem(18px);
  z-index: 99;
  .mobile-nav__logo {
    width: get-rem(126px);
  }
}