$subindex-line-color: #50E3C2;
@import '../../../../scss/theme/variables';

.subindex-line-chart {
  position: relative;
  width: 100%;
  .subindex-line-chart__line {
    width: 100%;
    height: get-rem(14px);
    overflow: hidden;
    border-radius: get-rem(2px);
    background-color: $bluetab-light-gray;
    .subindex-line-chart__filled {
      width: 0;
      height: 100%;
      background-color: $subindex-line-color;
      transition: all 2s $easing; 
    }
  }
  .subindex-line-chart__droplet {
    position: absolute;
    bottom: 100%;
    width: get-rem(38px);
    height: get-rem(46px);
    path {
      fill: $subindex-line-color;
    }
  }
  .subindex-chart__labels {
    position: absolute;
    top: 100%;
  }
}