@import '../../../../scss/theme/variables';

.target-edition {
  margin-bottom: get-rem(30px);
  .target-edition__title {
    font-size: get-rem(13px);
    font-weight: 500;
    color: $bluetab-gray;
  }
  .target-edition__list {
    padding-bottom: 1px;
    border-top: get-rem(1px) solid $bluetab-light-gray-2;
    margin-top: get-rem(12px);
  }
}