@import '../../../../../scss/theme/variables';

$button-size: 92px;
$selection-margin: 12px;

.selection {
  padding: get-rem(25px) get-rem(45px);
  padding-bottom: 0;
  .selection__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: get-rem(-$selection-margin);
    margin-left: get-rem(-$selection-margin);
    .selection-option-wrapper {
      width: 33.3%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .selection-option {
      width: get-rem(150px);
      padding-left: get-rem(35px);
      display: inline-flex;
      flex-direction: column;
      font-size: get-rem(14px);
      color: $bluetab-gray;
      margin-bottom: get-rem(28px);
      line-height: get-rem(22px);
      background-size: get-rem(22px);
      background-position: left;
      .selection-option__selector {
        font-weight: 500;
        margin-right: get-rem(5px);
      }
      .selection-option__value {
        font-weight: 300;
      }
    }
    .selection__change-selection {
      position: absolute;
      top: get-rem(27px);
      right: 0;
      width: get-rem(32px);
      height: get-rem(20px);
      border: none;
      margin: 0 get-rem($selection-margin);
      margin-bottom: get-rem($selection-margin);
      outline: none;
      cursor: pointer;
      z-index: 2;
    }
  }
  
}