@import '../../../../../../scss/theme/variables';

html.mobile .business-element-metric {
  .business-element-metric__content {
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    padding: get-rem(25px) 0;
    .business-element-metric__button-wrapper {
      margin-top: get-rem(18px);
      flex: 1 1 100%;
      justify-content: space-between;
    }
  }
  .evolution {
    padding: get-rem(25px) 0;
    .evolution__label {
      width: auto;
    }
    .evolution__variation {
      padding-top: 0;
    }
  }
}