@import '../../../scss/theme/variables';

html.desktop .bluetab-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: get-rem(173px);
  height: get-rem(40px);

  font-size: get-rem(14px);
  color: white;
  
  background-color: $bluetab-gray-2;
  border: none;
  border-radius: get-rem(3px);

  cursor: pointer;
  &.bluetab-button--selected {
    color: $bluetab-gray-2;
    background-color: $bluetab-light-gray-2;
  }
}

html.desktop .bluetab-button--light {
  height: get-rem(34px);
  min-width: get-rem(122px);
  background-color: white;
  border: get-rem(2px) solid $bluetab-red;
  color: $bluetab-gray-2;
}