@import '../../../../../../scss/theme/variables';

.subindex-manager {
  padding: 0 get-rem(45px);
  .subindex-manager__selector {
    margin-top: get-rem(35px);
    margin-bottom: get-rem(24px);
  }
  .subindex-manager__form {
    display: flex;
    flex-direction: column;
    .bluetab-button {
      align-self: center;
    }
  }
}