html.mobile .bluetab-selector,
html.tablet-v .bluetab-selector,
html.tablet-h .bluetab-selector {
  .bluetab-selector__mobile {
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}