@import '../../../../scss/theme/variables';

.admin-mode-selection {
  margin-top: get-rem(40px);
  margin-bottom: get-rem(50px);
  width: 100%;
  display: flex;
  .admin-mode-selection__button {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: get-rem(45px);
    font-size: get-rem(14px);
    color: $bluetab-light-gray;
    border: 2px solid $bluetab-light-gray;
    transition: all 300ms $easing;
    cursor: pointer;
    &.admin-mode-selection__button--left {
      margin-right: -1px;
    }
    &.admin-mode-selection__button--right {
      margin-left: -1px;
    }
    &:hover,
    &.admin-mode-selection__button--selected {
      color: $bluetab-red;
      border: 2px solid $bluetab-red;
    }
    &.admin-mode-selection__button--selected {
      z-index: 2;
    }
  }
}