@import '../../../../scss/theme/variables';

 html.mobile .business-metrics {
   width: calc(100% - #{get-rem(30px)});
  section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .business-element-wrapper {
    padding: get-rem(36px) 0 get-rem(72px) 0;
  }
  .bluetab-selector.bluetab-selector--inline.business-element__selector {
    margin-bottom: get-rem(20px);
    flex-direction: column;
    .bluetab-selector__title-wrapper {
      margin-bottom: get-rem(20px);
      margin-right: 0;
    }
    .bluetab-selector__selector-wrapper {
      width: 100%;
    }
    .bluetab-selector__select {
      width: 100%;
    }
  }
}