@import '../../../../scss/theme/variables';

html.desktop .selectors {
  display: flex;
  flex-direction: column;
  align-items: center;
  .selectors__selector-wrapper {
    width: 100%;
    margin: get-rem(38px) 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: get-rem(-$selectors-margin);
    margin-left: get-rem(-$selectors-margin);
    .selectors__selector {
      flex: 0 0 50%;
      padding: 0 get-rem($selectors-margin);
      margin-bottom: get-rem(18px);
    }
  }
}