@import '../../../../scss/theme/variables';

.weighted-parameters {
  margin-bottom: get-rem(30px);
  .weighted-parameters__title {
    font-size: get-rem(13px);
    font-weight: 500;
    color: $bluetab-gray;
  }
  .weighted-parameters__list {
    padding-bottom: 1px;
    border-top: get-rem(1px) solid $bluetab-light-gray-2;
    margin-top: get-rem(12px);
  }
  .weighted-parameters__create {
    display: inline-block;
    font-size: get-rem(12px);
    font-weight: 500;
    color: $bluetab-red;
    line-height: 1em;
    padding-left: get-rem(23px);
    background-position: left !important;
    margin-top: get-rem(25px);
    cursor: pointer;
    &.weighted-parameters__create--gray {
      color: $bluetab-light-gray-2;
    }
  }
}