@import '../../../scss/theme/variables';

$business-elements-width: 450px;

html.desktop .business-elements {
  .business-elements__content {
    .business-elements__wrapper {
      width: get-rem($business-elements-width);
      margin: 0 auto;
    }
    .business-elements__separator {
      margin-top: get-rem(47px);
      margin-bottom: get-rem(30px);
    }
    .business-elements__benchmarking {
      display: flex;
      justify-content: center;
      align-items: center;
      .bluetab-subtitle--centered {
        margin-right: get-rem(10px);
      }
      .bluetab-button {
        margin: 0 get-rem(5px);
      }
    }
  }
}