@import '../../../../scss/theme/variables';

$main-graph-padding--mobile: 85px - $section-padding--mobile;
html.mobile .main-graph-chart {
  justify-content: center;
  padding: get-rem(40px) get-rem($main-graph-padding--mobile);
  .main-graph-chart__svg-wrapper {
    position: relative;
    width: get-rem(224px);
    height: auto;
  }
}