@import '../../../../scss/theme/variables';

$button-size: 92px;
$selection-margin: 12px;

 .selection {
  .selection__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: get-rem(-$selection-margin);
    margin-left: get-rem(-$selection-margin);
    .selection__option {
      flex: 0 0 auto;
      min-width: get-rem($button-size);
      margin: 0 get-rem($selection-margin);
      margin-bottom: get-rem($selection-margin);
      line-height: get-rem(26px);
      padding: 0 get-rem(18px);
      border: get-rem(2px) solid $bluetab-gray; 
      color: $bluetab-gray-2;
      background-color: white;
      text-align: center;
    }
    .selection__change-selection {
      width: get-rem(32px);
      height: get-rem(20px);
      border: none;
      margin: 0 get-rem($selection-margin);
      margin-bottom: get-rem($selection-margin);
      outline: none;
      cursor: pointer;
    }
  }
  
}