@import '../../../scss/theme/variables';

$summary-border-width: 7px;

.sidenav-summary-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  &.sidenav-summary-wrapper--hidden {
    .sidenav-summary {
      transform: translateX(#{get-rem($sidenav-summary-width)});
    }
  }
  .sidenav-summary {
    position: fixed;
    top: 0;
    right: 0;
    width: get-rem($sidenav-summary-width);
    height: 100vh;
    padding: get-rem(33px) 0;
    padding-left: get-rem(61px);
    border-left: get-rem($summary-border-width) solid $bluetab-light-green;
    background-color: white;
    transform: translateX(0px);
    transition: transform 0.6s $easing;
    will-change: transform; 
    z-index: 2;
    .summary-button {
      @include vertical-center;
      left: get-rem(-(60px + $summary-border-width));
      width: get-rem(60px);
      height: get-rem(120px);
      cursor: pointer;
      z-index: 5;
      .summary-button__icon {
        @include horizontal-center;
        top: get-rem(38px);
        width: get-rem(26px);
        height: get-rem(38px);
      }
      .summary-button__background {
        fill: $bluetab-green;
        transition: fill 0.3s $easing;
      }
      &:hover {
        .summary-button__background {
          fill: $bluetab-dark-green;
        }
      }
    }
    .sidenav-summary__close {
      position: absolute;
      top: get-rem(33px);
      right: get-rem(33px);
      width: get-rem(18px);
      height: get-rem(18px);
      cursor: pointer;
    }
    .sidenav-summary__title {
      color: $bluetab-green;
      font-weight: 500;
      margin-bottom: get-rem(24px);
    }
    .sidenav-summary__inner-wrapper {
      position: relative;
      margin-bottom: get-rem(100px);
    }
    .sidenav-summary__sections-wrapper {
      position: relative;
      height: calc(100% - #{get-rem(60px)});
      overflow: auto;
      .sidenav-summary__sections-bar {
        position: absolute;
        top: 0;
        left: get-rem(12px);
        width: get-rem(3px);
        height: 100%;
        background-color: $bluetab-gray;
        opacity: 0.1;
        &.sidenav-summary__sections-bar--red {
          height: 0%;
          background-color: $bluetab-red;
          opacity: 1;
        }
      }
    }
  }
  .sidenav-summary-animation-enter {
    opacity: 0;
    &.sidenav-summary-animation-enter-active {
      opacity: 1;
      transition: opacity 300ms $easing;
    }
  }

  .sidenav-summary-animation-leave {
    opacity: 1;
    &.sidenav-summary-animation-leave-active {
      opacity: 0;
      transition: opacity 300ms $easing;
    }
  }

  .sidenav-summary-close-handler {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    
  }
}