@import '../../../scss/theme/variables';

html.mobile .sidenav-summary-wrapper {
   &.sidenav-summary-wrapper--hidden.sidenav-summary {
      transform: translateX(#{get-rem($sidenav-summary-width--mobile + 40px)});
    }
  .sidenav-summary {
    width: get-rem($sidenav-summary-width--mobile);
    padding-top: get-rem(20px);
    padding-left: get-rem(27px);
  }
}