@import '../../../scss/theme/variables';

 .main-graph {
  .main-graph__graph-wrapper {
    position: relative;
    margin-top: get-rem(70px);
    .main-graph__graph-controls {
      position: absolute;
      top: 0;
      left: get-rem(20px);
      z-index: 2;
      .bluetab-selector .bluetab-selector__title-wrapper .bluetab-selector__title {
        font-size: get-rem(14px);
        font-weight: 500;
      }
      .Select-control {
        height: get-rem(28px);
      }
      .bluetab-button {
        width: 100%;
        height: get-rem(37px);
        margin-bottom: get-rem(9px);
      }
    }
  }
  .main-graph__separator {
    border: none;
    border-bottom: get-rem(1px) solid $bluetab-light-gray-2;
    margin-top: get-rem(35px);
    margin-bottom: 0;
  }
  .main-graph__details {
    //margin-top: get-rem(35px);
    .main-graph__details-wrapper {
      padding: get-rem(25px) get-rem(30px);
      border-bottom: get-rem(1px) solid $bluetab-light-gray-2;
    }
  }
  .main-graph__benchmarking {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: get-rem(35px);
    .bluetab-subtitle--centered {
      margin-right: get-rem(10px);
    }
    .bluetab-button {
      margin: 0 get-rem(5px);
    }
  }
}