@import '../../../scss/theme/variables';

html.desktop .main-graph {
  width: get-rem($section-width);
  margin: get-rem($section-margin) auto;
  .main-graph__content {
    padding: 0 get-rem(20px);
    .main-graph__graph-wrapper {
      position: relative;
      margin-top: get-rem(70px);
      height: get-rem(300px);
      .main-graph__graph-controls {
        position: absolute;
        top: 0;
        left: get-rem(20px);
        z-index: 2;
        .bluetab-button {
          width: 100%;
          height: get-rem(37px);
          margin-bottom: get-rem(9px);
        }
      }
    }
    .main-graph__separator {
      margin: get-rem(35px) 0;
    }
    .main-graph__benchmarking {
      display: flex;
      justify-content: center;
      align-items: center;
      .bluetab-subtitle--centered {
        margin-right: get-rem(10px);
      }
      .bluetab-button {
        margin: 0 get-rem(5px);
      }
    }
  }
  .main-graph__details {
    margin: 0;
    .main-graph__details-wrapper {
      padding: get-rem(25px) get-rem(30px);
    }
  }
}