@import '../../../../scss/theme/variables';

.bluetab-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: get-rem(173px);
  height: get-rem(37px);
  padding: 0 get-rem(19px);

  font-size: get-rem(12px);
  color: white;
  
  background-color: $bluetab-red;
  border: get-rem(2px) solid $bluetab-red;
  border-radius: get-rem(3px);
  outline: none;

  cursor: pointer;
  .bluetab-button__icon {
    width: get-rem(14px);
    height: get-rem(14px);
    background-position: left;
    margin-right: get-rem(7px);
  }
  &.bluetab-button--selected {
    color: white;
    background-color: $bluetab-light-red;
    border-color: $bluetab-light-red;
    &.bluetab-button--hoverable:hover {
      border-color: $bluetab-red;
      color: $bluetab-red;
      background-color: white;
    }
  }
  &.bluetab-button--hoverable:hover {
    border-color: $bluetab-red;
    color: $bluetab-red;
    background-color: white;
  }
}

.bluetab-button--light {
  width: auto;
  height: get-rem(27px);
  font-size: get-rem(12px);
  background-color: white;
  border: get-rem(2px) solid $bluetab-red;
  border-radius: get-rem(50px);
  color: $bluetab-red;
  .bluetab-button__icon {
    width: get-rem(12px);
    height: get-rem(12px);
  }
  &.bluetab-button--hoverable:hover {
    background-color: $bluetab-red;
    color: white;
  }
}

