$bluetab-red: #F83838;
$bluetab-dark-red: #B4291C;
$bluetab-darker-red: #871B11;
$bluetab-light-red: #F2745F;
$bluetab-gray: #4A4A4A;
$bluetab-gray-2: #5A6574;
$bluetab-brown: #878356;
$bluetab-light-gray: #F1EFEF;
$bluetab-light-gray-2: #BFC6CE;
$bluetab-dark-gray: #272727;
$bluetab-green: #389437;
$bluetab-light-green: #98DA65;
$bluetab-orange: #D27B32;
$bluetab-light-orange: #FBA742;
$bluetab-blue: #3C7CC0;
$bluetab-light-blue: #81B6F1;
$bluetab-purple: #8559AE;
$bluetab-light-purple: #C186DB;