$montserratLight: 'Montserrat-Light';
$montserratRegular: 'Montserrat-Regular';
$montserratMedium: 'Montserrat-Medium';

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: url('../assets/fonts/montserrat/#{$montserratLight}.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/montserrat/#{$montserratRegular}.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: url('../assets/fonts/montserrat/#{$montserratMedium}.ttf') format('truetype');
}