.icon {
  $list:
    'santander',
    'network-logo',
    'change-selectors',
    'bell',
    'bell--red',
    'graph',
    'avatar';

  @each $key in $list {
    &.icon__#{$key} {
      background: url('../assets/icons/common/#{$key}.svg') center no-repeat;
      background-size: contain;
    }
  }

  $list:
    'MIS',
    'RO',
    'change',
    'innovation';
  
  @each $key in $list {
    &.icon__#{$key} {
      background: url('../assets/icons/sections/#{$key}.svg') center no-repeat;
      background-size: contain;
    }
  }
}