.icon {
  $list:
    'santander',
    'network-logo',
    'edit',
    'bell',
    'bell--red',
    'graph',
    'graph--red',
    'comparative',
    'comparative--red',
    'children',
    'children--red',
    'update',
    'update--red',
    'download',
    'download--red',
    'menu-arrow',
    'settings',
    'settings--red',
    'peers',
    'peers--red',
    'market',
    'market--red',
    'competition',
    'competition--red',
    'nav-menu--mobile',
    'summary',
    'avatar',
    'trash';

  @each $key in $list {
    &.icon__#{$key} {
      background: url('../assets/icons/common/#{$key}.svg') center no-repeat;
      background-size: contain;
    }
  }

  $list:
    'MIS',
    'RO',
    'change',
    'innovation';
  
  @each $key in $list {
    &.icon__#{$key} {
      background: url('../assets/icons/sections/#{$key}.svg') center no-repeat;
      background-size: contain;
    }
  }

  $list:
  'I1',
  'I2',
  'I3',
  'I4',
  'S1',
  'S2',
  'S3',
  'S4',
  'S5',
  'S6';

  @each $key in $list {
    &.icon__#{$key} {
      background: url('../assets/icons/dev/#{$key}.svg') center no-repeat;
      background-size: contain;
    }
  }

}