$overlay-padding: 28px;
$overlay-padding--mobile: 5px;

$sidenav-content-width: 205px;
$sidenav-detail-bar: 7px;
$sidenav-width: $sidenav-content-width + $sidenav-detail-bar;

$section-width: 720px;
$section-padding: 45px;
$section-padding--mobile: 30px;
$section-margin: 30px;
$section-title-height: 70px;

$selectors-margin: 22px;

$stepbar-height: 80px;