@import '../../../../../../scss/theme/variables';

.index-manager {
  padding: 0 get-rem(45px);
  .index-manager__selector {
    margin-top: get-rem(35px);
    margin-bottom: get-rem(24px);
  }
  .index-manager__form {
    
  }
}