html.mobile .selectors {
  padding: 0;
  .selectors__selector-wrapper {
    width: 100%;
    margin: get-rem(38px) 0;
    display: flex;
    flex-wrap: wrap;
    .selectors__selector {
      flex: 1 1 100%;
      padding: 0;
      margin-bottom: get-rem(18px);
    }
  }
}