@import '../../../scss/theme/variables';

.stepbar-navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - #{get-rem($sidenav-width)});
  height: get-rem($stepbar-height);
  background-color: $bluetab-light-gray;
  z-index: 99;
  .stepbar-wrapper {
    @include centerer;
    display: flex;
    justify-content: space-between;
    width: get-rem(250px);
    .stepbar {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      width: get-rem(33px);
      height: get-rem(33px);
      color: white;
      border-radius: get-rem(20px);
      background-color: $bluetab-light-gray-2;
      z-index: 3;
      transition: all 0.6s $easing;
      &.stepbar--active {
        opacity: 1;
        background-color: $bluetab-red;
        cursor: pointer;
      }
    }
    .stepbar__background-bar {
      @include vertical-center;
      left: 0;
      width: 100%;
      height: get-rem(3px);
      background-color: $bluetab-gray;
      opacity: 0.1;
      &.stepbar__background-bar--red {
        background-color: $bluetab-red;
        opacity: 1;
        z-index: 1;
        transition: all 0.6s $easing;
      }
    }
  }
}
